.content__element {
	display: block;
	box-sizing: border-box;
	border: 1px solid black;
	border-radius: 5px;
	margin-bottom: 5px;
	padding-left: 5px;
}

.content__element_description-title {
	font-weight: 600;
}

.content__element_link-image img {
	border-radius: 5px;
}